<section id="musicsTableSection">
    <h1>Tabela de Músicas</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Título </th>
                <th scope="col">Álbum</th>
                <th scope="col">Duração</th>
                <th scope="col">Artista/Banda</th>
                <th scope="col">Gênero</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let music of musics">
                <th scope="row">{{music.id}}</th>
                <td>{{music.title}}</td>
                <td>{{music.album}}</td>
                <td>{{music.duration}}</td>
                <td>{{music.artistOrBand}}</td>
                <td>{{music.genre}}</td>
                <td><app-button-delete (click)="delete(music)"></app-button-delete></td>
                
            </tr>
        </tbody>
    </table>
</section>
